<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.numberguessinggame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationNew">
        <activity
            android:name="com.example.numberguessinggame.ScoresResetPage"
            android:exported="false" />
        <activity
            android:name="com.example.numberguessinggame.LeaderboardPage"
            android:exported="false" />
        <activity
            android:name="com.example.numberguessinggame.HardPage"
            android:exported="false" />
        <activity
            android:name="com.example.numberguessinggame.MediumPage"
            android:exported="false" />
        <activity
            android:name="com.example.numberguessinggame.WinPage"
            android:exported="false" />
        <activity
            android:name="com.example.numberguessinggame.EasyPage"
            android:exported="false" />
        <activity
            android:name="com.example.numberguessinggame.InstructionsPage"
            android:exported="false" />
        <activity
            android:name="com.example.numberguessinggame.AccountCreatedPage"
            android:exported="false" />
        <activity
            android:name="com.example.numberguessinggame.PasswordStatusPage"
            android:exported="false" />
        <activity
            android:name="com.example.numberguessinggame.ResetPasswordPage"
            android:exported="false" />
        <activity
            android:name="com.example.numberguessinggame.SecurityQuestionPage"
            android:exported="false" />
        <activity
            android:name="com.example.numberguessinggame.ForgotPasswordPage"
            android:exported="false" />
        <activity
            android:name="com.example.numberguessinggame.CreateAccountPage"
            android:exported="false" />
        <activity
            android:name="com.example.numberguessinggame.LevelSelectionPage"
            android:exported="false" />
        <activity
            android:name="com.example.numberguessinggame.SignInPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>