<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplicationnew">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationNew">
        <activity
            android:name=".ScoresResetPage"
            android:exported="false" />
        <activity
            android:name=".LeaderboardPage"
            android:exported="false" />
        <activity
            android:name=".HardPage"
            android:exported="false" />
        <activity
            android:name=".MediumPage"
            android:exported="false" />
        <activity
            android:name=".WinPage"
            android:exported="false" />
        <activity
            android:name=".EasyPage"
            android:exported="false" />
        <activity
            android:name=".InstructionsPage"
            android:exported="false" />
        <activity
            android:name=".AccountCreatedPage"
            android:exported="false" />
        <activity
            android:name=".PasswordStatusPage"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordPage"
            android:exported="false" />
        <activity
            android:name=".SecurityQuestionPage"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordPage"
            android:exported="false" />
        <activity
            android:name=".CreateAccountPage"
            android:exported="false" />
        <activity
            android:name=".LevelSelectionPage"
            android:exported="false" />
        <activity
            android:name=".SignInPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>